body{
    background-color: #f9f1d9;
    margin: 0;
    padding: 0; 
    overflow: hidden; 
}
p{
    color: #762b18;
    text-align: center; 
    line-height: 1.8;
}
header{
    background-color: #cf933e; 
    padding: 1em; 
    text-align: center; 
}
hr{
    border:  1px solid #762b18;
}
a{
    color: #762b18; 
    padding: 1em; 
    line-height: 1.8; 
    font-weight: bolder;
}
h1{
    color: #762b18; 
}
h3{
    padding: 1em;
    margin: 1em; 
    color: #762b18;
}
h4{
    color:#762b18;
    padding-left: 2em;
}
iframe{
    margin: 1em;
    height: 20em;
    width: 30em;
}
iframe:hover{
    height: 25em;
    width: 35em;
}
img{
    padding: 1em; 
    margin: 1em; 
    height: 20em;
    border-radius: 75px;
}
.container{
    display: grid; 
    grid-template-columns: 20em 20em auto; 
    grid-template-rows: 20em 20em 8.75em; 
    align-content: center;
    padding-right: 10em;
    text-align: center;
    overflow: clip;
}
.standard-item{
    grid-column: 2 / span 2; 
    padding: 2em;
    height: 4em; 
}
.tall-item{
    grid-row: 1 / span 6;
    padding: 2em; 
    background-color: #e3c29e;
    text-align: center; 
    overflow: hidden clip;
}
.center{
    text-align: center;
}
@keyframes slidein{
    from{
        translate: 150vw 0;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
}
.slidein{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes tilt{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}
}
.tilt{
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: tilt; 
    animation-direction: alternate;
}