body{
    background-color: #e89f2f;
    margin: 0;
    padding: 0; 
}
p{
    color: black; 
    padding: 1em; 
    margin: 1em; 
}
header{
    background-color: #ad7f1b; 
    padding: 1em; 
}
a{
    color: green; 
}