body{
    background-color: #f9f1d9;
    margin: 0;
    padding: 0; 
}
p{
    color: black; 
}
header{
    background-color: #cf933e; 
    padding: 1em; 
    text-align: center; 
}
hr{
    border:  1px solid #762b18;
}
a{
    color: #762b18; 
    padding: 1em; 
}
h1{
    color: #762b18; 
}
iframe{
    margin: 1em;
    height: 20em;
    width: 30em;
}
iframe:hover{
    height: 25em;
    width: 35em;

}
.container{
    display: grid; 
    grid-template-columns: 20em 20em auto; 
    grid-template-rows: 20em 20em auto; 
    align-content: center;
    padding-right: 10em;
    text-align: center;
}
.standard-item{
    grid-column: 2 / span 2; 
    padding: 2em;
    height: 4em; 
}
.tall-item{
    grid-row: 1 / span 6;
    padding: 2em; 
    background-color: #e3c29e;
    text-align: center; 
}
.center{
    text-align: center;
}
